<div class="container-sm mt-2">
    <nav class="navbar bg-body-tertiary rounded-top-4 rounded-bottom-0">
        <div class="container-fluid">
            <h3 class="navbar-brand">Lista de pessoas</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="/pessoa/cadastrar"><i class="fa-solid fa-plus"></i> Novo</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/" ><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped fs-6">
        <tr>
            <th class="col-2">CPF</th>
            <th class="col-4">NOME</th>
            <th class="col-2">TELEFONE</th>
            <th class="col-2">E-MAIL</th>
            <th class="col-2">OPÇÕES</th>
        </tr>
        {{!-- equivale a um for --}}
        {{#each pessoas}}
            <tr>
                <td>{{cpf}}</td>
                <td>{{nome}}</td>
                <td>{{telefone}}</td>
                <td>{{email}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" onclick="excluirProduto('{{id}}')"><i class="fa-solid fa-trash-can"></i> Exluir</button>
                    <a class="btn btn-sm btn-outline-primary" href="/produto/editar/{{id}}"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                </td>
            </tr>
        {{/each}}

    </table>

</div>

<script>
  async function excluirProduto(id) {
    console.log('ID recebido:', id); // Debug
    const confirmacao = confirm(`Tem certeza que deseja excluir esta pessoa? ${id}`);
    if (!confirmacao) return;

    try {
      const response = await fetch(`/pessoa/delete/${id}`, { method: 'DELETE' });
      if (response.ok) {
        alert('Pessoa excluída com sucesso!');
        location.reload(); // Atualiza a página para refletir a exclusão.
      } else {
        const error = await response.json();
        location.reload();
      }
    } catch (error) {
      console.log(error);
    }
  }
</script>
