<div class="container-sm mt-2">
    <nav class="navbar bg-body-tertiary rounded-top-4 rounded-bottom-0">
        <div class="container-fluid">
            <h3 class="navbar-brand">Vendas Realizadas</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="/venda/cadastro"><i class="fa-solid fa-plus"></i> Nova</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/" ><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        <tr>
            <th class="col-1">ID</th>
            <th class="col-1">QTD</th>
            <th class="col-5">TOTAL</th>
            <th class="col-2">STATUS</th>
            <th class="col-2">PRODUTO_ID</th>
            <th class="col-2">PESSOA_ID</th>

        </tr>
        {{#each vendas}}
            <tr>
                <td>{{id}}</td>
                <td>{{qtd}}</td>
                <td>{{total}}</td>
                <td>{{status}}</td>
                <td>{{produto_id}}</td>
                <td>{{pessoa_id}}</td>
            </tr>

        {{/each}}

    </table>

</div>
